<p>Account Settings</p>
<%= form_for @user, :as => :user, :url => password_reset_path, :method => :put do |f| %>
    <p>
      <%= @user.username  %> has requested a password reset.  Please enter your new password:
    </p>
    <p>
      <%= f.label 'new password:' %><br/>
      <%= f.password_field :new_password %>
      <%= show_field_error(@user, :new_password) %>
    </p>
    <p>
      <%= f.hidden_field :username %>
      <%= f.label 'password confirmation:' %><br/>
      <%= f.password_field :new_password_confirmation %>
      <%= show_field_error(@user, :new_password_confirmation) %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
<% end %>
