<p>Sign In</p>
<%= form_for @user, :as => :user, :url => sign_in_path do |f| %>
    <p>
      <%= f.label 'username or email:' %><br/>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label 'password:' %><br/>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.check_box :remember_me %>
      <%= f.label 'remember me' %>
    </p>
    <p>
      <%= f.submit 'Sign In' %>&nbsp;&nbsp;&nbsp;
      <%= f.submit 'Clear Form', :type => 'reset' %>
    </p>
    <p>
      <%= link_to 'forgot your password?', :forgot_password %>
    </p>
<% end %>
